$basic-dark: #212121;
$basic-white: #ffffff;
$basic-blue: #43ABF0;
$basic-black: #000000;
$basic-grey:  #3D4050;

$special-neutral: #A6E9FF;
$special-gray: #BBBBBB;
$special-light_gray: #C3C3C3;

$tablet: 768px;
$desktop: 1366px;
$widescreen: 1680px;
$fullhd: 1800px;
